@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

.footer h6 {
    margin-bottom: 0;
}

.col h6:first-child, .col-4 h6:first-child {
    margin-bottom: 8px;
}

.logo {
    width: 124px;
}

.jcc_fxdc {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.address_col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.footer img:not(.logo) {
    width: 30px;
    height: 30px;
}
