body {
    display: flex;
}

main {
    display: grid;
    width: calc(100% - 108px);
    margin-left: 108px;
}

.btns button {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 10px rgba(111, 111, 111, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 20px;
}

.btns button.active {
    border: 2px solid #2567D9;
}

.striped {
    background: #F1EFEF;
}

.tdn {
    text-decoration: none;
}

.middle table caption {
    padding: .5rem .5rem;
    background: #F1EFEF;
    caption-side: top;
    color: black;
    font-weight: bold;
}

.footer a {
    text-decoration: none;
    color: #212529BF;
}